body {
  margin: 0;
  background: #f5f3ef;
  overflow: hidden;
}

.gallery {
  display: flex;
  gap: 80px;
  padding: 100px;
  height: 100vh;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.art {
  flex: 0 0 auto;
  scroll-snap-align: center;

  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 0.5;
}

.art img {
  height: 60vh;
  border-radius: 12px;
}

.art.active {
  transform: scale(1.25);
  opacity: 1;
}